/*NURUL SYUHADA KOVO BT MOHD YUSRI*/
body {
	background-color: #DEDEDE;
	font-family: arial,Verdana,sans-serif;
}

#header-image img{
    width: 100%;
    margin: none;
    padding: none;
    height: 300px;
}
#header-image{
    top: 10px;
    position: relative;

}
#image-text{
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: 'Roboto';
    color: #374430;
    text-align: center;

}

}
ul{
	margin-top: 0;
	padding: 0;
    list-style: none;
}

#top-header{
         
    text-align: center;
    height: 60px;
}
#menu{
    float: center;
    width: 100%;
    height: 100%;
    margin: none;
}
#menu ul{
    text-align: center;
    float: center;
    margin: 10px;
    background: #778899;
}
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
#menu li a, #menu li span{
    display: inline-block;
    padding-top: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #D4D4D4;
}
#menu li:visited a{
  background-color: green;
}
     
#menu li:hover a, #menu li span{
    background: #D4D4D4;
    color: #778899;
    border-left: 5px solid #778899;
    text-decoration: none;
}
#passportpic img{
  border: 5px solid #555;
}
#leftdiv{
	float: left;
	display: inline;
	background-color: #A8ADB4;
	height: 500px;
	width: 500px;
	padding: 30px;
	margin-top: 20px;

}
#rightdiv{
	float: right;
	display: inline;
	background-color: #C3C8CD;
	height: 700px;
	width: 700px;
	padding: 20px;
}
#footer{
	float: left;
	margin-bottom: 0px;
	margin-top: 200px;
}
#menu li:active a,#menu li span{
  background-color:#E0D4BB ;
}